@import 'ember-paper';

body.ember-application {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  margin: 0 auto;
  padding: 100px 20px;

  md-list-item.md-2-line {
    margin: 10px 0;
    border: 1px solid #eee;
    border-radius: 5px;

    .md-no-style {
      display: flex;
      align-items: center;

      .stock-symbol {
        font-weight: 600;
        font-size: 22px;
      }

      .stock-price {
        font-weight: 500;
        font-size: 15px;
        color: #929598;
      }
      .avgstock-price {
        font-weight: 500;
        font-size: 15px;
        color: #055a40;
      }
    }
  }
}

.stocks-container {
  width: 100%;

  .not-watching {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    md-icon {
      margin-bottom: 0;
    }
  }
}

.remove-button {
  min-width: 56px;
  border-radius: 50%;

  md-icon {
    color: #C2555E;
  }
}
.average-button {
  min-width: 36px;
  border-radius: 50%;

  md-icon {
    color: #298063;
  }
}

.success-toast > .md-toast-content {
  background-color: #6CA693;
}

.danger-toast > .md-toast-content {
  background-color: #C2555E;
}

ul.ember-power-select-options:not(.md-autocomplete-suggestions) {
  list-style-type: none;
  padding-left: 15px;
}
